### 파이썬 시작하기

In [1]:
a = 1
print(type(a))

<class 'int'>

In [2]:
type(a)

int

In [3]:
b = '1'
print(type(b))

<class 'str'>

In [4]:
c = 1.0
type(c)

float

In [5]:
d = [1]
type(d)

list

In [6]:
a = 'He'
b = 'llo'
c = ', World'
print(a + b + c)

Hello, World

### 파이썬 언어의 기본

In [2]:
a = 1
del a       # 변수 삭제
a = '1'
print(type(a))

<class 'str'>

In [4]:
intput_num = input("숫자를 입력해주세요 : ")        # 입력 값은 타입이 문자이다.
type(intput_num)                                            # 숫자를 입력할 경우 int를 따로 써야한다.

str

In [5]:
a = 1
print(a + 1)            # 식별자가 없어도 단순 출력이 가능
print(24 + 5)

2
29

In [7]:
print("1 + 1")
print(1 + 1)          # 사칙연산 가능

1 + 1
2

In [9]:
# 콤마를 활용해 여러 개의 값을 출력할 수 있음
print(1111, "안녕하세요", 345, sep=" ")

1111 안녕하세요 345

In [11]:
# 아무 것도 적지 않으면 한 줄이 추가됨
# end 옵션이 기본 개행으로 되어 이씅ㅁ
print(11)
print()
print(11, end=' 줄 바꿈을 하지 않음')
print(11)

11

11 줄 바꿈을 하지 않음11

In [12]:
# 주석은 '#'을 사용합니다.
# 여러줄 또는 한줄은 드래그 후 Ctrl + / 입니다.

In [13]:
# 파이썬의 할당(할당문은 등호를 사용)
a = 1+2
# a에 3을 할당합니다.
print(a)

3

In [14]:
# 표현식은 반드시 등호 오른쪽에 와야 함
# 1 + 2 = a 라는 표현식이 왼쪽에 올 수 없습니다.

In [15]:
# 콤마나 등호를 활용해 여러 변수에 값을 할당할 수 있다
a, b = 1, 2
c = d = 1
print(a, b, c, d, sep=" ")

1 2 1 1

In [16]:
# 세미콜론 ; 을 활용해 한 줄에 여러 변수 값을 할당할 수 있다
a = 1; b= 1; c = 1;
print(a, b, c, sep=' ')

1 1 1

In [19]:
# 두 변수의 값을 콤마, 등호를 화룡해 서로 바꿀 수 있음
a = 1; b= 2
print("a, b: ", a, b, sep=' ')
a, b = b, a
print("a, b: ", a, b, sep=' ')

a, b:  1 2
a, b:  2 1

In [21]:
# 사칙연산자를 함께 활용해 새로운 값을 할당할 수 있음
b = 2; c = 3
a = b + c
print(a)

5

In [22]:
# 표현식이 아닌 할당문은 할당할 수 없음
b= 2; c = 3;
# a = (b = b + c) 는 불가능
b = b + c
a = b
print(a)

5

In [23]:
# 역슬래시 \ 사용해 한 줄을 여러 줄로 표현할 수 있음
a = 1
b = 2
a = a + \
    b           
print(a)

3

In [36]:
# 예약어란 이미 문법적인 용도로 파이썬에서 기본적으로 사용하고 있는 단어
import keyword
print(keyword.kwlist)       # 예약어의 목록을 볼 수 있다 kwlist = keywordlist

35

In [25]:
false = False           # 대소문자를 구별함으로 서로 다른 단어이다.
                            # false는 변수로 활용가능, False는 불가능

In [26]:
# 내장함수 : 별도의 모듈 추가 없이 파이썬에서 기본적으로 제공되는 함수들
# ex) type, len, max, min
max("1 2 3 4")

'4'

In [27]:
# 안녕하세요
# 학습자님
# 이번 회차도 수고하셨습니다.

# 1. 세미콜론 활용
print("안녕하세요."); print("학습자님"); print("이번 회차도 수고하셨습니다.")

안녕하세요.
학습자님
이번 회차도 수고하셨습니다.

In [28]:
# print()함수 기본 옵션 활용 print 함수 위에서 shift+tab을 활용하면 설명문을 볼 수 있다.
print("안녕하세요.", "학습자님", "이번 회차도 수고하셨습니다.")     # 쉼표를 활용하면 띄어쓰기로 출력

안녕하세요. 학습자님 이번 회차도 수고하셨습니다.

In [29]:
print("안녕하세요.", "학습자님", "이번 회차도 수고하셨습니다.", sep='\n')

안녕하세요.
학습자님
이번 회차도 수고하셨습니다.

In [30]:
a = 1 
b = 2
print(a + b)

3

In [31]:
a =  input("값을 입력해주세요 : ")

In [32]:
b = input("값을 입력해주세요 : ")

In [33]:
print(a)

1

In [34]:
print(b)

2

In [35]:
print(a+b)      # input함수는 문자열 타입으로 저장
# int 내장 함수를 사용해 타입을 숫자로 변경한 뒤 더해줌
print(int(a) + int(b))

12
3

### 수치형 자료형과 문자열 자료형의 특징

In [37]:
# 파이썬의 내장 자료형(파이썬의 수치형, 문자열 자료형)
# 수치형 자료형
a = 1
print(type(a))

<class 'int'>

In [38]:
a = 1.0
print(type(a))

<class 'float'>

In [39]:
b= '1'
print(type(b))

<class 'str'>

In [40]:
a = 1
b = 2
print(a + b)

3

In [41]:
a = 1.0
b = 2
print(a + b)

3.0

In [42]:
c = '1'
d = '2'
print(c + d)

12

In [46]:
#안녕하세요
#학습자님
#이번 회차도 수고하셨습니다.
a = """
안녕하세요
학습자님
이번 회차도 수고하셨습니다."""

b = '''
안녕하세요
학습자님
이번 회차도 수고하셨습니다.'''
print(a)
print(b)

안녕하세요
학습자님
이번 회차도 수고하셨습니다.

안녕하세요
학습자님
이번 회차도 수고하셨습니다.

In [45]:

a = '안녕하세요\n학습자님\n이번 회차도 수고하셨습니다.'
print(a)

안녕하세요
학습자님
이번 회차도 수고하셨습니다.

In [47]:
a = '104'
print(3*a + a + a)

104104104104104

In [48]:
a = 104
print(3*a + a + a)

520

### 리스트, 튜플, 사전, 집합 자료형의 특징

In [49]:
# 리스트 자료형
l = []
l2 = list()
print(type(l))
print(type(l2))

<class 'list'>
<class 'list'>

In [51]:
l = [1,2,3,4, "문자", [1,2,3], (1,2,3)]
print(l)

[1, 2, 3, 4, '문자', [1, 2, 3], (1, 2, 3)]

In [52]:
print(l[0])

1

In [53]:
print(l[4])

문자

In [54]:
print(type(l[4]))

<class 'str'>

In [55]:
print(l[0:6])

[1, 2, 3, 4, '문자', [1, 2, 3]]

In [56]:
l.append(4)

In [57]:
print(l)

[1, 2, 3, 4, '문자', [1, 2, 3], (1, 2, 3), 4]

In [58]:
# 튜플 자료형
t = ()
t2 = tuple()
print(type(t))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [59]:
t = (1,2,3,4)
print(t)

(1, 2, 3, 4)

In [61]:
t = (1, '문자', [1,2], (1,2))
print(t)

(1, '문자', [1, 2], (1, 2))

In [62]:
print(t[:3])

(1, '문자', [1, 2])

In [63]:
# 사전 자료형
d = {}
d2 = dict()
print(type(d))
print(type(d2))

<class 'dict'>
<class 'dict'>

In [64]:
d = {
    'a' : 1,
    'b' : 2
}

In [65]:
print(d)

{'a': 1, 'b': 2}

In [66]:
d = {
    [1,2] : 1
}

TypeError: unhashable type: 'list'

In [67]:
d = {
    (1,2): 1
}
print(d)

{(1, 2): 1}

In [68]:
d = {'a' : 1, 'b' : 2}
print(d)

{'a': 1, 'b': 2}

In [69]:
print(d['a'])

1

In [70]:
printd['c']

NameError: name 'printd' is not defined

In [71]:
d['c' ] =3

In [72]:
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [73]:
d['a'] = 100
print(d)

{'a': 100, 'b': 2, 'c': 3}

In [74]:
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [75]:
print(d.values())

dict_values([100, 2, 3])

In [77]:
print(d.items())

dict_items([('a', 100), ('b', 2), ('c', 3)])

In [79]:
# 집합 자료형
s = set()
print(type(s))

<class 'set'>

In [80]:
s = {1,2,3}
print(type(s))

<class 'set'>

In [82]:
s = set('Hello')
print(s)

{'H', 'l', 'e', 'o'}

In [83]:
s1 = {1,2,3}
s2 = {3,4,5}
print(s1 & s2)

{3}

In [84]:
print(s1 - s2)

{1, 2}

In [85]:
print(s1 | s2)

{1, 2, 3, 4, 5}

In [86]:
# 리스트의 중복된 값을 제거하기
l = [1,1,1,1,1,2,2,2,3,3,4,5,6,4,4,5,7,7,8,9,7,7,7,5,6,7]
print(l)

[1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 4, 5, 6, 4, 4, 5, 7, 7, 8, 9, 7, 7, 7, 5, 6, 7]

In [87]:
print(set(l))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [88]:
l = list(set(l))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
# 튜플의 값을 추가, 수정, 삭제하기
t = (1,2,3,4,5,6,7,8)

In [91]:
l = list(t)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [92]:
l[0] = '값 변경'
print(l)

['값 변경', 2, 3, 4, 5, 6, 7, 8]

In [93]:
t = tuple(l)
print(t)

('값 변경', 2, 3, 4, 5, 6, 7, 8)

### 리스트, 튜플, 사전 자료형의 활용

In [1]:
l = []
print(type(l))

<class 'list'>

In [2]:
l = list()
print(type(l))

<class 'list'>

In [3]:
l = [1,2,3,4]
print(l)

[1, 2, 3, 4]

In [4]:
l[0]

1

In [5]:
l[1:2]

[2]

In [6]:
l[0]= 2
print(l)

[2, 2, 3, 4]

In [7]:
t = ()
t2 = tuple()
print(type(t))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [9]:
t = (1,2,3)
print(t)

(1, 2, 3)

In [10]:
t[0]

1

In [11]:
t[1:2]

(2,)

In [12]:
t[0] = 1        # tuple은 값 변경 불가능

TypeError: 'tuple' object does not support item assignment

In [13]:
d = {'a':2, 'b' :3}

In [14]:
print(type(d))

<class 'dict'>

In [15]:
# 리스트 함수 활용
l = [2,5,1,3,6,4,8,7,9]
print(l)

[2, 5, 1, 3, 6, 4, 8, 7, 9]

In [16]:
print(sorted(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
l.sort(reverse=True)
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
l.sort(reverse=False)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# 두 사전을 하나의 사전으로 병합
dic1 = {'a':1, 'b':2, 'c':3}
dic2 = {'b':5, 'c':1, 'd':7}
dic1.update(dic2)
print(dic1)
print(dic2)

{'a': 1, 'b': 5, 'c': 1, 'd': 7}
{'b': 5, 'c': 1, 'd': 7}

In [25]:
a = 1,2,3
print(type(a))

<class 'tuple'>

### 문자열 자료형의 메소드와 포멧팅

In [26]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [27]:
s = '안녕하세요. 학습자님!'
print(s.split('.'))

['안녕하세요', ' 학습자님!']

In [28]:
s = "ABCDefGHJ"
print(s.lower())

abcdefghj

In [29]:
print(s.upper())
print(s.swapcase())

ABCDEFGHJ
abcdEFghj

In [30]:
print("{} 더하기 {} 는 {} ".format(1,2,3))

1 더하기 2 는 3

In [31]:
print("{1} {2} {0}" .format(1, 2, 3))

2 3 1

In [37]:
# 문자읠 특징, 메소드 등을 활용하여 특정 문자 뽑아내기
s = "Today is December 31. 2020, Tommorrow is Janurary 1. 2021"
print(s)

Today is December 31. 2020, Tommorrow is Janurary 1. 2021

In [38]:
print(s.split(','))

['Today is December 31. 2020', ' Tommorrow is Janurary 1. 2021']

In [39]:
temp = s.split('.')[0]
print(temp)

Today is December 31

In [40]:
print(temp.split(" "))

['Today', 'is', 'December', '31']

In [41]:
result = temp.split(' ')[3]
print(result)

31

In [42]:
print(s[5:8])

 is

In [43]:
# 문자열 포멧팅 활용
# @ X @ = @

print(" {} X {:f} = {}" .format(2, 2, 4))

 2 X 2.000000 = 4

In [45]:
print(" {} X {} = {:2}" .format(2, 3, 6))
print(" {} X {} = {:2}" .format(2, 4, 8))
print(" {} X {} = {:2}" .format([2], 5, 10))
print(" {} X {} = {:2}" .format(2, 6, 12))
print(" {} X {} = {:2}" .format(2, 7, "십사"))
print(" {} X {} = {:2}" .format(2, 8, 16))
print(" {} X {:0.1f} = {:2f}" .format(2, 9, 18))

 2 X 3 =  6
 2 X 4 =  8
 [2] X 5 = 10
 2 X 6 = 12
 2 X 7 = 십사
 2 X 8 = 16
 2 X 9.0 = 18.000000

### 파이썬의 조건문

In [46]:
k = 0
if k == 0:
    k
if k == 0:
    k