# Unit 44. 모듈과 패키지

### 44.1 import

In [6]:
import math
math.pi             # math 모듈의 변수

3.141592653589793

In [8]:
math.sin(math.pi), math.sqrt(4.)            # math 모듈의 함수

(1.2246467991473532e-16, 2.0)

- aliasing (as)

In [11]:
# alisasing 약칭
import pandas as pd
s = pd.Series([1,2,3])          # pandas 모듈의 Series 클래스

In [13]:
import math as m
round(m.pi, 4), m.log(2), round(m.sqrt(2), 4)           # round는 소수점을 나타내는 함수(x, 소수점 자리수)

(3.1416, 0.6931471805599453, 1.4142)

- 모듈의 일부분만 가져오기 (from 모듈 import 변수/함수/클래스)

In [17]:
from math import exp, log
exp(1), log(exp(1))

(2.718281828459045, 1.0)

In [21]:
from pandas import DataFrame
d = {'dog':[1,2,3],'cat':[3,4,5]}
x = DataFrame(d)
x

   dog  cat
0    1    3
1    2    4
2    3    5

In [22]:
from math import *              # * 모두를 의미를 Wild character
cos(0), sin(0)

(1.0, 0.0)

In [24]:
from sklearn.tree import DecisionTreeClassifier as DTC
tdc = DTC()

### 44.2 import 피키지

In [25]:
from urllib.request import urlopen
response = urlopen('http://www.google.co.kr')
response.status

200

In [27]:
response.close()

### 44.3 패키지 설치
<pre>
- 콘다 가상환경(base 예)
    conda activate base
    conda install (module-name)
    conda install -c conda-forge (module-name)

- 콘다 가상환경에서 설치 실패시
    pip install (module-name)
</pre>